.Rproj.user
.Rhistory
.RData
.Ruserdata
bq.oauth
.html

FinalData.csv
FinalDataVaderSentiment.csv
RedditComments/FinalDataIbotta.csv
.vscode/settings.json
example.png
Poster.pptx
Python Sentiment/__pycache__/vaderSentiment.cpython-36.pyc
RedditComments/FinalDataTableau.xlsx
Misc/ModelData.csv
